@import './fonts/fonts';
@import './common/index';
@import './lib/magnific-popup.css';
@import './sections/index';


body {
  color: $primary;
  font: 16px/1.42em 'Montserrat', sans-serif;
}

.h1 {
  color: $accent;
}

.imgg {
  width: 300px;
  height: 250px;
}